[submodule "problems-private"]
	path = problems-private
	url = https://github.com/CP-STA/problems-private.git
	
[submodule "frontend"]
	path = frontend
	url = https://github.com/CP-STA/STAOJ-frontend
