[submodule "problems-private"]
	path = problems-private
	url = https://github.com/CP-STA/problems-private.git
	
[submodule "problems"]
	path = problems
	url = https://github.com/CP-STA/contest-problems
